@using Echeckdem.CustomFolder
@model List<FilterDetailedViewModel>

<h2>Filtered Data</h2>

<table>
    <thead>
        <tr>
            <th>OName</th>
            <th>LName</th>
            <th>Returns</th>
            <th>Contributions</th>
            <th>Registrations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OName</td>
                <td>@item.Lname</td>
                <td>@item.Returns</td>
                <td>@item.Contributions</td>
                <td>@item.Registrations</td>
            </tr>
        }
    </tbody>
</table>