@model List<IGrouping<int, Echeckdem.CustomFolder.ContributionDetailViewModel>>


@if (Model != null && Model.Any())
{
    <h5>Submitted Contributions by Year</h5>

    @foreach (var yearGroup in Model)
    {
        <div class="year-group" style="margin-bottom:10px;">
            <button class="saveButton" type="button" data-bs-toggle="collapse" data-bs-target="#returns-year-@yearGroup.Key" aria-expanded="false" aria-controls="returns-year-@yearGroup.Key" >
                @yearGroup.Key
            </button>

            <div class="collapse" id="returns-year-@yearGroup.Key">
                <table class="styled-table">
                     <thead style="top:75px;">
                        <tr>
                            <th>Contribution Title/ FREQ</th>
                            <th>Type</th>
                            <th>Year</th>
                            <th>Last Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in yearGroup)
                        {
                            <tr>
                                <td>@item.Freq</td>
                                <td>@item.Tp</td>
                                <td>@item.Cyear</td>
                                <td>@(item.LastDate?.ToString("dd/MM/yyyy") ?? "-")</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
else
{
    <p class="text-muted">No Contributions submitted for this location.</p>
}
