@model List<Echeckdem.CustomFolder.LocationViewModel>
@{
    ViewData["Title"] = "Manage Sites";
    ViewData["Heading"] = "Locations";
    ViewData["Heading_child"] = "...";
}

@* <h2>Locations</h2>
<p><strong>OID:</strong> @ViewBag.OID</p>
<p><strong>Oname:</strong> @ViewBag.Oname</p>
 *@
 <style>
    .styled-table button  {
        border:none;
        background:none;
    }
 </style>
<div class="table-container-detailsView" id="viewLocationsContainer">
<table class="styled-table">
        <thead style="top:75px;">
        <tr>
            <th>S.No</th>
@*             <th>Location Code</th>
 *@            <th>Site Name</th>
            <th>State</th>
            <th>Establishment Type</th>
                <th colspan="4" style="text-align:center;">Covered under</th>
            @* <th>Region</th>
            <th>Address</th>
            <th>Branch Contact</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Client Email</th>
            <th>Internal Email</th> *@
                <th colspan="2" style="text-align:center;">Returns</th>
                <th colspan="2" style="text-align:center;">Contributions</th>
                <th colspan="2" style="text-align:center;">Registations</th>
        </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Central</th>
                <th>CLRA</th>
                <th>PF</th>
                <th>ESI</th>
                <th style="width:0;">Setup</th>
                <th style="width:0;">View</th>
                <th style="width:0;">Setup</th>
                <th style="width:0;">View</th>
                <th style="width:0;">Setup</th>
                <th style="width:0;">View</th>
            </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td hidden>@Model[i].Lcode</td>
                <td>@Model[i].Lname</td>
                <td>@Model[i].Lstate</td>
                <td>@Model[i].Ltype</td>
                <td>@(Model[i].Iscentral == 1 ? "Yes" : "No")</td>
                <td>@(Model[i].Iscloc == 1 ? "Yes" : "No")</td>
                <td>@(Model[i].ispf == 1 ? "Yes" : "No")</td>
                <td>@(Model[i].isesi == 1 ? "Yes" : "No")</td>

               @*  <td>@Model[i].Lregion</td>
                <td>@Model[i].Laddress</td>
                <td>@Model[i].Lcontact</td>
                <td>@Model[i].Lconno</td>
                <td>@Model[i].Lconemail</td>
                <td>@Model[i].Cemail</td>
                <td>@Model[i].Iemail</td> *@
                
                <td>
                    <form asp-action="ReturnSetup" method="post">
                        <input type="hidden" name="oid" value="@Model[i].Oid" />
                        <input type="hidden" name="lcode" value="@Model[i].Lcode" />
                        <button type="submit">
                                <i class="fas fa-pen edit-icon" style="color: #dd3432; font-size: 14px; cursor: pointer;"></i>
                        </button>
                    </form>
                </td>
                <td>
                        <button class="" onclick="loadReturns('@Model[i].Oid', '@Model[i].Lcode')">
                            <i class="fas fa-eye edit-icon" style="color: #dd3432; font-size: 14px; cursor: pointer;"></i>
                        </button>
                </td>
                <td>
                    <form asp-action="ContributionSetup" method="post">
                        <input type="hidden" name="oid" value="@Model[i].Oid" />
                        <input type="hidden" name="lcode" value="@Model[i].Lcode" />
                        <button type="submit" class="">
                                <i class="fas fa-pen edit-icon" style="color: #dd3432; font-size: 14px; cursor: pointer;"></i>
                        </button>
                    </form>
                   
                </td>
                <td>
                        <button onclick="loadContributions('@Model[i].Oid', '@Model[i].Lcode')">
                            <i class="fas fa-eye edit-icon" style="color: #dd3432; font-size: 14px; cursor: pointer;"></i>
                        </button>
                </td>
                <td>
                    <form asp-action="RegistrationSetup" method="post">
                        <input type="hidden" name="oid" value="@Model[i].Oid" />
                        <input type="hidden" name="lcode" value="@Model[i].Lcode" />
                        <button type="submit">
                                <i class="fas fa-pen edit-icon" style="color: #dd3432; font-size: 14px; cursor: pointer;"></i>
                        </button>
                    </form>
                </td>
                <td>
                        <button onclick="loadRegistrations('@Model[i].Oid', '@Model[i].Lcode')">
                            <i class="fas fa-eye edit-icon" style="color: #dd3432; font-size: 14px; cursor: pointer;"></i>
                        </button>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<div class="table-container-detailsView" id="submittedReturnsContainer" style="display:none; top:45px; padding:15px;"></div>
<div class="table-container-detailsView" id="submittedContributionsContainer" style="display:none; top:45px; padding:15px;"></div>
<div class="table-container-detailsView" id="submittedRegistrationsContainer" style="display:none; top:45px; padding:15px;"></div>
<script>
    function loadReturns(oid, lcode) {
        document.getElementById("viewLocationsContainer").style.display = "none";
        document.getElementById("submittedContributionsContainer").style.display = "none";
        document.getElementById("submittedRegistrationsContainer").style.display = "none";
        document.getElementById("submittedReturnsContainer").style.display = "block";

        fetch(`/SiteManagement/SubmittedReturns?oid=${oid}&lcode=${lcode}`)
            .then(res => res.text())
            .then(html => {
                document.getElementById("submittedReturnsContainer").innerHTML = html;
            });
    }

    function loadContributions(oid, lcode) {
        document.getElementById("submittedReturnsContainer").style.display = "none";  
        document.getElementById("viewLocationsContainer").style.display = "none";  
        document.getElementById("submittedRegistrationsContainer").style.display = "none";
        document.getElementById("submittedContributionsContainer").style.display = "block";

        fetch(`/SiteManagement/SubmittedContributions?oid=${oid}&lcode=${lcode}`)
            .then(res => res.text())
            .then(html => {
                document.getElementById("submittedContributionsContainer").innerHTML = html;
            });
    }

    function loadRegistrations(oid, lcode) {
        document.getElementById("submittedReturnsContainer").style.display = "none";
        document.getElementById("submittedContributionsContainer").style.display = "none";
        document.getElementById("viewLocationsContainer").style.display = "none";
        document.getElementById("submittedRegistrationsContainer").style.display = "block";

        fetch(`/SiteManagement/SubmittedRegistrations?oid=${oid}&lcode=${lcode}`)
            .then(res => res.text())
            .then(html => {
                document.getElementById("submittedRegistrationsContainer").innerHTML = html;
            });
    }

</script>

