@model List<Echeckdem.ViewModel.OnGoingActivity.TrackerViewModel>

@{
    ViewData["Title"] = "On-Going Activities";
    ViewData["Heading"] = "On-Going Activities";
    ViewData["Heading_child"] = "Keep Track of all Department related activities";
    int sno = 1;
}


<div class="table-container-detailsView" id="table-container-detailsView">
    <table class="styled-table">
    <thead style="top:75px;">
        <tr>
            <th>S.No.</th>
           <th>Activity Type</th>
            <th>Organisation</th>
            <th>Site Name</th>
            
            <th>Title</th>
            <th>Detail of Issue</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>Close Date</th>
         
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var action in Model)
        {
               
            <tr>
                <td>@sno</td>
                <td>@action.ActivityType</td>
                <td>@action.Oname</td>
                <td>@action.Lname</td>
                <td>@action.Title</td>
                <td>@action.DetailOfIssue</td>
                
                    <td>@action.ExternalStatus</td>
                    <td>@(action?.StartDate.HasValue == true ? action.StartDate.Value.ToString("dd-MMM-yyyy") : "")</td>
                    <td>@(action?.CloseDate.HasValue == true ? action.CloseDate.Value.ToString("dd-MMM-yyyy") : "")</td>
                
                <td>
                        <a class="saveButton" href="@Url.ActionLink("TrackerDet","Tracker",new{Acid=action.Acid})">Details</a>
                </td>
              

            </tr>
       sno++; }
    </tbody>
</table>
</div>




