@using Echeckdem.ViewModel.ProjectBocw
@model ProjectBocwViewModel

@{
    ViewData["Title"] = "Project Detail";
    ViewData["Heading"] = "Project Detail";

    var autoOid = Context.Request.Query["oid"].ToString();
    var autoLcode = Context.Request.Query["lcode"].ToString();

}
@if (!string.IsNullOrEmpty(autoOid) && !string.IsNullOrEmpty(autoLcode))
{
    @using (Html.BeginForm("FetchProjectDets", "Project", FormMethod.Post, new { @id = "autoPostForm" }))
    {
        <input type="hidden" name="clientDropdown" value="@autoOid" />
        <input type="hidden" name="siteDropdown" value="@autoLcode" />
    }

    <script>
        document.getElementById('autoPostForm').submit();
    </script>
}
<div class="table-heading-container">

    <!-- Outer-Filter button -->
    <div class="table-filter-buttons">
        @using (Html.BeginForm("FetchProjectDets", "Project", FormMethod.Post))
        {
            @Html.DropDownList("clientDropdown", Model.ClientList, "Select a Client", new { @name = "clientDropdown", @onchange="this.form.submit();" })

            @if (Model.SiteList!=null) 
            {
                @Html.DropDownList("siteDropdown", Model.SiteList, "Select a Site", new { @name = "siteDropdown", @onchange = "this.form.submit();" })
            }

        }
    </div>
</div>

<div class="table-container-detailsView">

    <!-- Project Details Table -->
    @if (ViewBag.SelectedOID == null || ViewBag.SelectedLcode==null) 
    { <table class="styled-table">
            <thead>
                <tr><th class="text-center">Select a Client and a Site</th></tr>
            </thead>
        </table>
    }
    else
    {
        @if (Model.projectDetailsDto==null)
        {
            <table class="styled-table">
                <thead>
                    <tr><th class="text-center">No Details for the selected site found</th></tr>
                </thead>
            </table>
        }
        else
        {
            <table class="styled-table">

                <thead>
                    <tr>
                        <th>Site Name:</th>
                        <td data-id="SiteName">@Model.projectDetailsDto.SiteName</td>
                        <th>State:</th>
                        <td data-id="State">@Model.projectDetailsDto.State</td>
                        <th>City:</th>
                        <td data-id="City">@Model.projectDetailsDto.City</td>
                        <th>Project Client</th>
                        <td data-id="ClientName">@Model.projectDetailsDto.ClientName</td>
                        <th colspan="2">Project General Contractor</th>
                        <td data-id="GeneralContractor">@Model.projectDetailsDto.GeneralContractor</td>
                    </tr>
                    <tr>
                        <th colspan="2">Construction Start Date:</th>
                        <td data-id="ProjectStartDate">@Model.projectDetailsDto.ProjectStartDate</td>
                        <th>Construction End Date:</th>
                        <td data-id="ProjectEndDate">@Model.projectDetailsDto.ProjectEndDate</td>
                        <th>Project Area:</th>
                        <td data-id="ProjectArea">@Model.projectDetailsDto.ProjectArea</td>
                        <th>Project Cost:</th>
                        <td data-id="ProjectCost">@Model.projectDetailsDto.ProjectCost</td>
                        <th>Project Manager</th>
                        <td data-id="ProjectLead">@Model.projectDetailsDto.ProjectLead</td>
                    </tr>
                </thead>
            </table>

            <!-- BOCW Services Table -->
            <table class="styled-table" style="margin-top: 30px;">
                <thead>
                    <tr><th class="text-center" colspan="11">List of Services</th></tr>
                    <tr>
                        <th>S.No.</th>
                        <th>Service Type</th>
                        <th>Service</th>
                        <th>Phase</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Completion Date</th>
                        <th colspan="2">File</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody id="complianceActivities">
                    @if (Model.projectDetailsDto.BocwServices.Any() && Model.projectDetailsDto.BocwServices!=null)
                    {
                        int count = 1;

                        @foreach (var k in Model.projectDetailsDto.BocwServices)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@k.ServiceType</td>
                                <td>@k.Service</td>
                                <td>@k.Category</td>
                                <td>@k.DueDate</td>
                                <td>@k.Status</td>
                                <td>@k.CompletionDate</td>
                                <td colspan="2">@k.File</td>
                                <td>@Html.ActionLink("Edit Pencil", "EditBocw", "DetailsView", new { transactionID = k.transactionID }, new { @style = "color:black" })</td>
                            </tr>
                            count++;}


                    }
                    else
                    {

                        <tr><td class="text-center" colspan="10">No Setup Done for the Construction Site</td></tr>

                    }
                </tbody>
            </table>

            <!-- Ongoing Activities Table -->
            <table class="styled-table" style="margin-top: 30px;">
                <thead>
                    <tr><th class="text-center" colspan="8" class="table-header">On-Going Activities</th></tr>
                    <tr>
                        <th>S.No.</th>
                        <th>Activity Type</th>

                        <th>Title</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>Close Date</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody id="ongoingActivities">
                    @if (Model.projectDetailsDto.ProjectActivity.Any() && Model.projectDetailsDto.ProjectActivity != null)
                    {
                        int count = 1;
                        foreach (var l in Model.projectDetailsDto.ProjectActivity)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@l.ActivityType</td>

                                <td>@l.Title</td>
                                <td>@l.Desc</td>
                                <td>@l.Status</td>
                                <td>@l.StartDate</td>
                                <td>@l.CloseDate</td>
                                <td><a class="saveButton" href="@Url.ActionLink("TrackerDet","Tracker",new{Acid=l.Acid})">Details</a></td>
                            </tr>
                       count++; }
                        

                    }
                    else
                    {

                        <tr><td colspan="8" class="text-center">No Ongoing activities.</td></tr>
                    }
                    
                </tbody>
            </table>
        }

    }


</div>
