@model List<Echeckdem.Models.BocwScope>
<div>
    <h4>Select Scopes</h4>
    @if (Model != null && Model.Any())
    {
        <form asp-action="SaveMapping" method="post" id="saveMappingForm">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Scope Name</th>
                       @*  <th>Active</th> *@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var scope in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="selectedScopeIds" value="@scope.ScopeId" @(scope.IsSelected ? "checked" : "") />
                            </td>
                            <td>@scope.ScopeName</td>
                           @*  <td>@(scope.ScopeActive == 1 ? "Yes" : "No")</td> *@
                        </tr>
                    }
                </tbody>
            </table>
            <input type="hidden" name="lcode" value="@ViewBag.Lcode" />
            <input type="hidden" name="projectCode" value="@ViewBag.ProjectCode" />
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    }
    else
    {
        <p>No scopes available.</p>
    }
</div>
                       