@model List<Echeckdem.CustomFolder.StateTemplateViewModel>
@{
    var stateId = ViewBag.StateId as string;
    var StateName = ViewBag.StateName as string ?? "Unknown State";
    ViewBag.Title = "Templates for State";
    ViewData["Heading"] = $"Templates for {StateName}";
    ViewData["Heading_child"] = "...";
    
}

@* <a asp-action="Edit" asp-route-stateId="@stateId" class="btn btn-primary">Add New Template</a> *@

@* <button id="addTemplateBtn" class="btn btn-primary">Add New Template</button> *@



<div class="table-container-detailsView">
    <table class="styled-table">
        <thead style="top:75px;">
        <tr>
            <th>Type</th>
            <th>Frequency</th>
            <th>Period</th>
            <th>Last Date</th>
            <th>Month Offset</th>
            <th>Active</th>
            <th style="width: 75px;text-align: center;">Edit</th>
            <th style="width: 75px;text-align: center;">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TpDisplay</td>
                <td>@item.FreqDisplay</td>
                <td>@item.PeriodDisplay</td>
                <td>@item.Ld</td>
                <td>@item.MoffsetDisplay</td>
                <td>@item.ActiveDisplay</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Cid" asp-route-stateId="@item.CState">
                            <i class="fas fa-pen edit-icon" style="color: #dd3432; font-size: 14px; cursor: pointer;"></i>
                    </a>
                </td>
                <td>
                        <a asp-action="Delete" asp-route-id="@item.Cid" asp-route-stateId="@item.CState" onclick="return confirm('Are you sure you want to delete this entry?');">
                            <i class="fas fa-trash edit-icon" style="color: #dd3432; font-size: 14px; cursor: pointer;"></i>
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<script>
    document.getElementById("addTemplateBtn").addEventListener("click", function () {
        const stateId = "@stateId";
        const url = `/StateTemplate/Edit?stateId=${encodeURIComponent(stateId)}`;
        window.location.href = url;
    });
</script>