@model List<Echeckdem.CustomFolder.StateTemplateRetViewModel>
@{
    var stateId = ViewBag.StateId as string;
    var StateName = ViewBag.StateName as string ?? "Unknown State";
    ViewBag.Title = "Returns Templates for State";
    ViewData["Heading"] = $"Templates for {StateName}";
    ViewData["Heading_child"] = "...";
}


<div class="table-container-detailsView">
    <table class="styled-table">
        <thead style="top:75px;">
        <tr>
            <th>Type</th>   
            <th>Title</th>
            <th>Form</th>
            <th>Last Date</th>
            <th>Month</th>
            <th>Next Year</th>
            <th>Oblig</th>
            <th>Act</th>
            <th>Active</th>
                <th style="width: 75px;text-align: center;">Edit</th>
                <th style="width: 75px;text-align: center;">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Rtype</td>
                <td>@item.Rtitle</td>
                <td>@item.Rform</td>
                <td>@item.Rd</td>
                <td>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Rm)</td>
                <td>@(item.Yroff == 1 ? "Yes" : "No")</td>
                <td>@item.Roblig</td>
                <td>@item.Ract</td>
                <td>@(item.Ractive == 1 ? "Active" : "Inactive")</td>

                    <td>
                        <a asp-action="EditRet" asp-route-id="@item.Rcode" asp-route-stateId="@item.Rstate" >   
                            <i class="fas fa-pen edit-icon" style="color: #dd3432; font-size: 14px; cursor: pointer;"></i>
                        </a>
                    </td>
                <td>
                        <a asp-action="DeleteRet" asp-route-id="@item.Rcode" asp-route-stateId="@item.Rstate" onclick="return confirm('Are you sure?')">
                            <i class="fas fa-trash edit-icon" style="color: #dd3432; font-size: 14px; cursor: pointer;"></i>
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>


@section Scripts {
    <script>
        document.getElementById("addTemplateBtn").addEventListener("click", function () {
            const stateId = "@stateId";
            const url = `/StateTemplate/EditRet?stateId=${encodeURIComponent(stateId)}`;
            window.location.href = url;
        });
    </script>
}