@using Microsoft.AspNetCore.Http
@* @inject IHttpContextAccessor HttpContextAccessor
 *@
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>     
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Echeckdem</title>
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Echeckdem.styles.css" asp-append-version="true" /> *@
  


   


</head> 
<body>
@*     @{
        var userLevel = Context.Session.GetInt32("UserLevel");
    }  *@
    <div class="main_parent">
    <nav class="navbar">
        <div class="nav_parent">
            <div class="nav_logo">
                <a href="/Home">
                    <div class="nav_image">
                        <img src="~/imgs/eCheckwhite.png" alt="" class="product_logo"/>
                    </div>
                </a>
            </div>
            <div class="nav-links">
                <div class="nav_links">
                    <a href="/Home"> Home</a>
                  

                       

                        @if (Context.Session.GetInt32("User Level") == 1)
                        {

                            @* <h2>User Level: @ViewBag.UserLevel</h2> *@
                            <a href="">Manage Sites</a>
                            <a href="/OrganisationSetup/OrganisationSetup"> Org Setup</a>
                            <a href="/ActScopeSetup/Index"> BOCW Scope Setup</a>
                            <a href= "/TrackScopeSetup/Index"> Track Scope Setup</a>
                        }
                        else
                        {
                            <a href=""> Operations Calendar</a>
                            <a href=""> Graphical Details</a>
                            <a href=""> Bulk Upload</a>
                        }
                    </div>
            </div>
            <div class="b-links">
                <a href=""> Settings</a>
                
        </div>

               @*  <a href=""> Settings</a> *@
                <form asp-action="Logout" asp-controller="Login" method="post" class="Logout-form">
                    <button  type="submit" class="Logout-button">Logout</button>
                </form>
    </nav>
        <div class="heading_background_parent">
            <div class="heading_background">
                <div class="heading-grandparent">
            <div class="heading_parent">
                <h1 class="heading"> @ViewData["Heading"] </h1>
                <p class="heading_child">@ViewData["Heading_child"] </p>
                </div>
                    @if (ViewData["Title"]?.ToString() != "Organisation List")
                    {
                        <button class="filter-btn" onclick="toggleFilterForm()">
                            <!-- Filter button -->
                            FILTER
                        </button>
                    }
                </div>
                </div>
        </div>
        <div class="main_child">
            @if (ViewData["Title"]?.ToString() == "Organisation List" || ViewData["Title"]?.ToString() == "BOCW Scope Setup" || ViewData["Title"]?.ToString() == "Track Scope Setup")
            {
                <div class="table-heading-container">
                    @RenderSection("TableHeadingContent", required: false)
                </div>
            }
            @if (ViewData["Title"]?.ToString() == "Organisation List")
            {
                <div class="table-container">
                    @RenderSection("TableContent", required: false)
                </div>
            }
            @RenderBody()
        </div>
    </div>

    

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

 
    