@using Microsoft.AspNetCore.Http
@* @inject IHttpContextAccessor HttpContextAccessor
 *@
<!DOCTYPE html>
<html lang="en">
@if (Context.Session.GetInt32("User Level") == null) { Context.Response.Redirect("/Login/Index"); }
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" /> *@
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap 5 JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Echeckdem</title>
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Echeckdem.styles.css" asp-append-version="true" /> *@
  


   


</head> 
<body>
@*     @{
        var userLevel = Context.Session.GetInt32("UserLevel");
    }  *@

    



    <div class="main_parent">
    <nav class="navbar">
        <div class="nav_parent">
            <div class="nav_logo">
                <a href="/Home">
                    <div class="nav_image">
                        <img src="~/imgs/eCheckwhite.png" alt="" class="product_logo"/>
                    </div>
                </a>
            </div>
            <div class="nav-links">
                <div class="nav_links">
                    <a href="/Home"> Home</a>
                  

                       

                        @if (Context.Session.GetInt32("User Level") == 1)
                        {

                            @* <h2>User Level: @ViewBag.UserLevel</h2> *@
                            <a href="/SiteManagement/Index">Manage Sites</a>
                            <a href="/OrganisationSetup/OrganisationSetup"> Org Setup</a>
                            <a href="/ActScopeSetup/Index"> BOCW Scope Setup</a>
                            <a href= "/TrackScopeSetup/Index"> Track Scope Setup</a>
                            <a href="/UserManagement/Index"> User Management</a>
                            <a href="/Tracker/trackerlist"> Tracker</a>
                            <a href="/StateTemplate/Index"> State Template</a>
                        }
                        else
                        {

                            <a href="/DetailsView/CombinedDetailed">Track Compliance </a>
                            <a href="/Tracker/trackerlist"> Tracker</a>

                        }
                    </div>
            </div>

                <div class="b-links">
                    <a href=""> Settings</a>

                </div>

                @*  <a href=""> Settings</a> *@
                <form asp-action="Logout" asp-controller="Login" method="post" class="Logout-form">
                    <button type="submit" class="Logout-button">Logout</button>
                </form>

                @{
                    var userID = Context.Session.GetString("userID");
                    var initial = !string.IsNullOrEmpty(userID) ? userID.Trim()[0].ToString().ToUpper() : "?";

                }

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle rounded-circle text-white bg-primary"
                            type="button" id="userDropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        @initial
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="#">View Account</a></li>
                        <li><a class="dropdown-item" href="#">Change Password</a></li>
                        <li><hr class="dropdown-divider"></li>
                    </ul>
                </div>



            
    </nav>
        <div class="heading_background_parent">
            <div class="heading_background">
                <div class="heading-grandparent">
            <div class="heading_parent">
                        <h1 class="heading"> @Html.Raw(ViewData["Heading"]) </h1>
                        <p class="heading_child">@Html.Raw(ViewData["Heading_child"]) </p>
                </div>
                    @if (ViewData["Title"]?.ToString() == "Detailed Report")
                    {
                        <div class="cond-act-buttons">
                        <button class="filter-btn" onclick="toggleFilterForm()">
                            FILTER
                        </button>
                            <div style="width: 10px;"></div>
                        <button class="table-export-btn" onclick="downloadData()">
                            EXPORT
                        </button>
                        </div>
                    }

                    @if (ViewData["Title"]?.ToString() == "Organisation List")
                    {
                        <button class="table-add-btn" onclick="showAddOrganisationForm()">
                            Add New Organisation
                        </button>
                    }
                    @if (ViewData["Title"]?.ToString() == "Tracker List")
                    {
                        <button class="table-add-btn" onclick="onAddNewItemClick()">
                            Add New Item
                        </button>
                    }
                    @if (ViewData["Title"]?.ToString() == "Tracker Details")
                    {
                        <button class="table-add-btn" onclick="backToTracker()">
                            Back to Tracker
                        </button>
                    }

                </div>
                </div>
        </div>
        <div class="main_child">
            @if (
               @*  ViewData["Title"]?.ToString() == "Organisation List" ||  *@
            ViewData["Title"]?.ToString() == "BOCW Scope Setup" || ViewData["Title"]?.ToString() == "Track Scope Setup")
            {
                <div class="table-heading-container">
                    @RenderSection("TableHeadingContent", required: false)
                </div>
            }
           @*  @if (ViewData["Title"]?.ToString() == "Organisation List")
            {
                <div class="table-container">
                    @RenderSection("TableContent", required: false)
                </div>
            } *@
            @RenderBody()
        </div>
    </div>

    

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

 
    